torch
numpy
pandas
h5py
biopython
pyfaidx
pysam
intervaltree
enformer-pytorch
transformers==4.49.0
einops
torchmetrics
polars
discrete-key-value-bottleneck-pytorch
tqdm
matplotlib
wandb
natsort
scipy
